<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>



@code {
    @inject BookApi bookApi
    @inject IndexDb db
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!await db.HasBook())
            {
                var book = await bookApi.MostRead();
                if (book is not null)
                {
                    await db.SaveTenBooks(book!);
                    System.Console.WriteLine($"Books{book}");
                }
            }
        }catch(Exception ex)
        {
            System.Console.WriteLine("Error" + ex.ToString());
        }
    }
}